/*  */
.force-row>div>div{
    width: 100%;
}
.banner {
    align-content: center;
    background-image: url('../assets/img/banner-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .align-items-center>div{
    border: 4px solid red;
}
    */
@media  screen and (min-width:992px) {
    .force-row{
display: flex;
flex-direction: row !important;
justify-content: center;
    }
    .force-row>div{
        width: 49%;
    }
}
@media  screen and (max-width:991px) {
    .force-row{
display: flex;
gap: 20px;
flex-direction: column !important;
justify-content: center;
    }
    .force-row>div{
        width: 100% !important ;
    }
}

@keyframes updown {
    20% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(10px);

    }
70%{
    transform: translate(10px,5px);
}
80%{
    transform: translate(-2px,10px);
}
    100% {
        transform: translateY(-10px);
    }
}

.banner .tagline {
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    padding: 8px 10px;
    border-radius: 3px;
    letter-spacing: 1.4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 16px;
    display: inline-block;
    margin-top: 6px;
}
.banner h1 span:first-of-type{
    font-size: 30px !important;
}
.banner h1 span.dispalyed-text{
    font-size: 37px !important;
    font-style: oblique;
    font-weight: bold;
}

.banner h1 {
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    font-weight: 500;
    display: block;
    font-size: 53px;
    line-height: 1;
}
.banner  .parentDivImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner  img{
        max-width: 50%;
    display: block;
    height: auto;
    animation:  updown 5s   ease-in-out infinite;
}
@media  screen and (min-width:992px) {
.banner  img{
       max-width: 100%;
       width: 95%;
}
}

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner button {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 39px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    padding: 1px 4px;
    letter-spacing: 0.8px;
    width: fit-content;
    border-radius: 5px;
}

.banner button svg {
    font-size: 25px;
    transition: 0.3s ease-in-out;
    line-height: 1;
    border-radius: 50%;
    margin-left: 15px;
    border: 1px solid white;
    fill: white;
    stroke: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner button:hover svg {
    margin-left: 30px;
}
.banner button:hover  {
    padding-left: 6px;
}
.banner img {
  animation: updown 3s linear infinite;
}
